:root{
    --cyan:hsl(171, 66%, 44%);
    --lightblue: hsl(233, 100%, 69%);
    --darkgrayishblue: hsl(210, 10%, 33%);
    --grayishblue: hsl(201, 11%, 66%);
}

body{
    margin: 0;
    font-family: "Bai Jamjuree";
    font-size: 18px;
    font-weight: 400;
    color: var(--grayishblue);
    overflow-x: hidden;
}
h2, h3, h4{
    color: var(--darkgrayishblue);
    font-weight: 600;
}
h2{
    font-size: 2.5rem;
    margin-bottom: 0;
}
h3{
    font-size: 2.2rem;
    margin-bottom: 0;
}
h4{
    font-size: 1.65rem;
    margin-bottom: 0;
}
p{
    line-height: 35px;
}


/* header */
header{
    text-align: center;
}

.imgWrapper{
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.884), rgba(255, 255, 255, 0)), url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:350px;
    padding-top: 100px;
}


/* button */
button{
    width: 190px;
    height: 45px;
    border-radius: 50px;
    border-style: none;
    color: white;
    margin-top: 20px;
    font-family: "Bai Jamjuree";
    font-weight: 400;
}
.green{
    background-color: var(--cyan);


}

.blue{
    background-color: var(--lightblue);
    margin-left: 10px;
}


/* heroOne */
.heroOne{
    margin-top: 170px;
}

.head{
    text-align: center;
}
.comp{
    margin-top: 100px;
    display: flex;
    gap:7%;
}
.img{
    margin-left: -50px;
}
.aside{
    padding-top: 30px;
}

/* heroTwo */
.heroTwo{
    margin-top: 170px;
}
.heroTwo img{
    margin-top: 100px;
}

/* heroThree */
.heroThree{
    margin-top: 90px;
}
.supercharge{
    display: flex;
    justify-content: center;
    gap: 3%;
    margin-top: 80px;
}
.sc{
    text-align: center;
    
}


/* heroFour */
.heroFour{
    margin-top: 170px;
}
.compLogos{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}


/* heroFive */
.heroFive{
    margin-top: 170px;
}


/* footer */
footer{
    background-color: rgb(245,246,248);
    margin-top: 170px;
    color: var(--darkgrayishblue);
    padding-top: 60px;
    height: 150px;
}
.footerContainer{
    display: flex;
    justify-content: space-around;
}
.footerWrapper{
    display: flex;
    justify-content: space-between;
    margin-left: -70px;
}
.footerLogo{
    margin-right: 30px;

}
footer ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 80px;
    grid-row-gap: 15px;
    list-style: none;
    padding-left: 150px;
}
.footerIcons{
    margin-top: 30px;
    margin-left: 15px;
    display: flex;
    gap: 30%;
    width: 10%;
    padding-right: 20px;
}
svg{
    fill: #4C545C;
}
svg:hover{
    fill: var(--cyan);
    transition: 500ms;
}


@media screen and (max-width:992px){
    .img{
        width: 65%;
    }
    .compLogos img{
        width: 100%;
    }
    .img img{
        width: 100%;
    }
    .aside{
        width:30%;
        line-height: 0px;
    }
    .head img{
        width: 100%;
    }
    .footerWrapper{
        margin-left: 0;
    }
    footer ul{
        grid-column-gap: 20px;
        padding-left: 0;
    }
    

}
@media screen and (max-width:768px){
    .img{
        width: 65%;
    }
    .compLogos img{
        width: 100%;
    }
    .img img{
        width: 100%;
    }
    .aside{
        width:30%;
        line-height: 0px;
    }
    .head img{
        width: 100%;
    }
    .footerWrapper{
        margin-left: 0;
    }
    .footerLogo{
        margin-right: 0px;
    
    }
    footer ul{
        padding-left: 0;
        grid-template-columns: repeat(2, 1fr);
    }

}
@media screen and (max-width:576px){
    .comp{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .img, .aside{
        width: 90%;
        margin-left: 0;
    }
    .compLogos{
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
    footer{
        height: auto;
    }
    .footerWrapper ul{
        grid-template-columns: repeat(1, 1fr);
    }
    #a{
        grid-row: 1;
    }
    #b{
        grid-row: 4;
    }
    #c{
        grid-row: 3;
    }
    #d{
        grid-row: 2;
    }
    #e{
        grid-row: 5;
    }
}
@media screen and (max-width:375px){
    h2, h3, h4{
        color: var(--darkgrayishblue);
        font-weight: 600;
    }
    h2{
        font-size: 1.7rem;
        margin-bottom: 0;
    }
    h3{
        font-size: 1.5rem;
        margin-bottom: 0;
    }
    h4{
        font-size: 1.2rem;
        margin-bottom: 0;
    }
    p{
        line-height: 20px;
        font-size: 15px;
    }
    
    main, .imgWrapper{
        padding-left:5px;
        padding-right: 5px;
    }
    button{
        width: 300px;
        height: 60px;
        border-radius: 50px;
        border-style: none;
        color: white;
        margin-top: 20px;
        font-size: 1.2rem;
    }
}